.search-bar {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search-bar img {
  width: 1.5rem;
  height: 1.5rem;
}

.search-bar input {
  height: 3rem;
  width: 100%;
  border: none;
  font-family: 'Outfit';
  font-weight: 300;
  font-size: 20px;
  background: none;
  margin-left: 1rem;
  color: white;
  outline: none;
}

.search-bar input:focus {
  border-bottom: 1px solid #5a698f;
}

.search-bar input::placeholder {
  font-family: 'Outfit';
  font-size: 16px;
  font-weight: 300;
  color: white;
  opacity: 0.49;
}