.trending-movie {
  min-width: 15rem;
  width: 15rem;
  height: 8.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: .5rem;
  background-image: linear-gradient(to top, rgba(0 0 0 / 75%) 0%, rgba(0 0 0 / 0.01%) 50%, transparent 50%), url('../assets/thumbnails/beyond-earth/trending/small.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: .5rem;
  box-sizing: border-box;
}

.trending-movie:not(:first-of-type) {
  margin-left: 1rem;
}

.trending-movie .bookmark-icon,
.recommended-movie .bookmark-icon {
  background-color: rgba(16 20 30 / 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
}

.trending-movie-details-section-top {
  display: flex;
  align-items: center;
  color: rgba(255 255 255 / 75%);
  font-family: 'Outfit';
  font-weight: 300;
  font-size: 12px;
}

.trending-movie-details-section-top li:not(:nth-of-type(1)) {
  margin-left: 6px;
}

.trending-movie-details-section-top li:nth-of-type(3) {
  display: flex;
}

.trending-movie-details-section-top li:nth-of-type(3) p {
  margin-left: 4px;
}

.separator {
  width: 3px;
  height: 3px;
  background-color: rgba(255 255 255 / 50%);
  border-radius: 5rem;
}

.trending-movie-title {
  font-family: 'Outfit';
  font-weight: 500;
  font-size: 15px;
  color: white;
  margin-top: 4px;
}